<launch>

  <arg name="baud" default="9600"/>
  <arg name="port" default="/dev/ttyAMA0"/>

  <!-- joy node -->
  <node respawn="true" pkg="joy" type="joy_node" name="joy" output="screen" >
    <param name="dev" type="string" value="/dev/input/js0" />
    <param name="deadzone" value="0.1" />
  </node>


  <!-- joystick to command inputs node -->
  <node pkg="joy_cmds" type="joy_cmds_node.py" name="joy_cmds"/>


  <!-- add serial communication node -->
  <!-- <remap to="serial_comm" from="joy_cmds/to_serial" />
  <node respawn="true" pkg="rosserial_python" type="serial_node.py" name="serial_comm">
    <param name="port" value="$(arg port)"/>
    <param name="baud" value="$(arg baud)"/>
  <node/> -->

</launch>
