<launch>

  <arg name="baud" default="57600"/>
  <arg name="port" default="/dev/ttyACM0"/>

  <!-- joy node -->
  <node respawn="true" pkg="joy" type="joy_node" name="joy" output="screen" >
    <param name="dev" type="string" value="/dev/input/js0" />
    <param name="deadzone" value="0.1" />
  </node>


  <!-- joystick to command inputs node -->
  <node pkg="joy_cmds" type="joy_cmds_node.py" name="joy_cmds"/>


  <!-- add serial communication node -->
  <node respawn="true" pkg="rosserial_python" type="serial_node.py" name="serial_node">
    <param name="port" value="$(arg port)"/>
    <param name="baud" value="$(arg baud)"/>
  </node>

<!--  <remap to="serial_node/from_serial" from="joy_cmds/to_serial" /> -->
  

</launch>
